@{
    ViewBag.Title = "Lista de Pacientes";
    var urlEditar = "/Paciente/Item";
    var urlReceitar = "/Paciente/Receitar";
}

<div>
    <div class="row" style="margin:10px">
        <fieldset class="col-md-6">
            <legend>Tabela de Usúarios</legend>
        </fieldset>
        <div class="text-right col-md-6">
            <a href="@urlEditar" class="btn btn-success">Adicionar</a>
        </div>
    </div>
    <div style="margin:10px">
        <div>
            <table id="Tabela" class="table" role="grid" aria-describedby="lista_info">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td width="150px">Ativo</td>
                        <td width="50px"></td>
                        <td width="50px"></td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="@urlEditar?id=1">Maria Joaquina</a></td>
                        <td width="50px">Sim</td>
                        <td><input type="button" class="btn btn-outline-danger" value="Enviar Mensagem" onclick="showMensagem('Maria Joaquina')"></td>
                        <td><a href="@urlReceitar?id=1" class="btn btn-outline-info">Receitar</a></td>
                    </tr>
                    <tr>
                        <td><a href="@urlEditar?id=2">Francisco Ficoreio</a></td>
                        <td width="50px">Sim</td>
                        <td><input type="button" class="btn btn-outline-danger" value="Enviar Mensagem" onclick="showMensagem('Francisco Ficoreio')"></td>
                        <td><a href="@urlReceitar?id=2" class="btn btn-outline-info">Receitar</a></td>
                    </tr>
                </tbody>
            </table>
            <label id="Success" class="alert alert-success btn-block" style="text-align:center; display:none">Mensagem enviada com sucesso!</label>

            <fieldset id="Mensagem" style="display:none">
                <legend id="Titulo"></legend> <hr />
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Assunto</label>
                        <input type="text" class="form-control" maxlength="150" name="Assunto" />
                    </div>
                    <div class="form-group col-md-12">
                        <label>Mensagem</label>
                        <textarea class="form-control" maxlength="500" name="Mensagem" /></textarea>
                    </div>
                </div>
                <div class="form-group col-md-12 text-right">
                    <input type="submit" class="btn btn-outline-dark" value="Cancelar" onclick="closeMensagem()"/>
                    <input type="submit" class="btn btn-success" value="Enviar" onclick="enviarMensagem()"/>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">

    function closeMensagem() {
        $("#Mensagem").hide();
    }

    function enviarMensagem() {
        $("#Mensagem").hide();
        $("#Success").show();
    }

    function showMensagem(nome) {
        $("#Mensagem").show();
        $("#Success").hide();
        $("#Titulo").text("Mensagem para " + nome);

        $("input[name=Assunto]").val('');
        $("textarea[name=Mensagem]").val('');
    }
</script>
