
@{
    ViewBag.Title = "Cadastro Clínica";
    var urlIndex = "/Clinica";
}

<div style="margin-top:10px">
    <form id="Form" method="post" action="/Usuario/Salvar" role="form">

        <!-- Cadastro Basico -->
        <fieldset>
            <legend>Cadastro</legend> <hr />
            <input type="hidden" name="Codigo" />
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Nome</label>
                    <input type="text" class="form-control" maxlength="150" name="Nome" autofocus />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Medicos</label>
                    <select class="form-control" name="Medicos" multiple>
                        <option>Jose Audaniso</option>
                        <option>Luiz Castanho</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Contatos</label>
                    <input type="text" class="form-control" maxlength="300" name="Contatos" />
                </div>
            </div>

        </fieldset>
        <br>

        <!-- Endereço -->
        <fieldset>
            <legend>Endereço</legend> <hr />
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Cidade</label>
                    <input type="text" class="form-control" maxlength="300" name="Cidade" />
                </div>
                <div class="form-group col-md-6">
                    <label>Estado</label>
                    <input type="text" class="form-control" maxlength="300" name="Estado" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Telefone</label>
                    <input type="text" class="form-control" maxlength="50" name="Telefone" />
                </div>
            </div>
        </fieldset>

        <div class="form-group col-md-12 text-right">
            <a class="btn btn-danger" href="@urlIndex">Cancelar</a>
            <input type="submit" class="btn btn-success" value="Salvar" />
        </div>
    </form>
</div>

<script type="text/javascript">

    $('#Form').validate({
        rules: {
            Nome: {
                required: true
            },
            Medicos: {
                required: true
            },
            Contatos: {
                required: true
            }
        },
        errorPlacement: function (error, element) {
            error.addClass('alert alert-danger');
            error.css("margin-top", "10px");

            console.log($("input[name=Senha]").val());
            element.after(error);
        }
    });
</script>

